
.content{
    background-color: #ecf0f5;
}
.content-main{
    margin-bottom: 40px;
    font-size: 14px;
}
.content-header{
    height: 62px;
}
.content-header h3{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 500;
}
.title-header{
    font-size: 24px;
}

.advance-tables{
    font-size: 15px;
    color: #777;
    font-weight: 300;
    margin-left: 10px;
}
.breadcrumb{
    font-size: 12px;
}
.item-header-content{
    padding: 7px 5px;
    
}
.content-table{
    display: block;
}

@media (max-width: 768px){
    .content-header{
      flex-flow: column;
    }
    .breadcrumb{
       background: #d2d6de;
    }
    .content{
        overflow: hidden;
    }
  }
