.main-footer{
    color: #444;
    padding: 15px;
    font-size: 14px;
    margin-left: 230px;
    max-height: 20px;
}
.link-admin{
    margin-left: 3px;
}
@media (max-width: 916px) {
    .main-footer{
        margin-left: 0px;
      }
}