body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ecf0f5;
}
*{
    box-sizing: border-box;
}
.header{
    background-color:#3c8dbc;
}
.logo{
    width: 230px;
    height: 50px;
    background-color:#367fa9;
    
}
.navbar{
    height: 50px;
    width: 72%;
}
.navbar .bars-icon{
    margin: 15px;
}
.navbar-menu ul{
    display: flex;
    align-items: center;
}
.navbar-menu ul a{
    margin: 15px;
}
.navbar-menu img{
    width: 25px;
    height: 25px;
}
.user-name{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width: 916px) {
  .sidebar{
    display: none;
  }
  
}
 @media (max-width: 768px) {
    .header{
      display: block;
    }
    .logo{
      width: 100%;
    }
    .navbar{
      width: 100%;
    }
    .user-name{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }

@media (max-width: 317px) {
    .navbar{
      width: 100%;
      display: block;
      height: auto;
      padding: 15px;
    }
    .navbar-menu ul{
      flex-wrap: wrap;
      padding: 0px;
    }
    
  }