.sidebar{
    background-color:  #333;
    width: 230px;
}
.user-panel img{
    width: 45px;
    height: 45px;
}
.user-panel .info p{
    font-size: 14px;
}
.user-panel .info a{
    font-size: 11px;
}
.user-panel .info i{
    width: 10px;
    height: 10px;
    
}
.sidebar p{
    color: #4b646f;
    font-size: 12px;
    margin-left: 10px;
}
.sidebar-form{
    height: 35px;
    background-color: #374850;
    margin-top: 6px;
    margin: 10px;
}
.input-search{
    background-color: #374850;
    border: 1px solid transparent;
    margin-left: 6px;
}
.btn-search a{
    color: rgb(180, 179, 179);
}
.sidebar-menu{
    list-style: none;
    background-color: #303f46;
}

.treeview {
    height: 44px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.treeview a{
    color: rgb(180, 179, 179);
    text-decoration: none;
}
.treeview i{
    margin-right: 10px;
}
.pull-right{
    float: right;
}